.searchIcon{
position: absolute;
height: 59px;
width: 100px;
left: 67.35%;
top: 40%;
border-radius: 0px 14px 14px 0px;
border: 1px solid #E1E1E1;
}
#Search-btn {
    position: absolute;
      color: #6C5DD3;
      cursor: pointer;
      left: 35%;
      top: 33%;
}