.Input-Container {
    box-sizing: border-box;

position: absolute;
width: 650px;
height: 60px;
left: 25%;
top: 40%;
padding: 20px;
/* Grey-02 */

border: 1px solid #E1E1E1;

}

.line {
    box-sizing: border-box;
    position: absolute;
    width: 1px;
    height: 60px;
top: 44px;
left: 59%;
transform: rotate(0deg);
/* Grey-02 */

background: #E1E1E1;
/* Grey-02 */

border: 1px solid #E1E1E1;
     
}
