.Login-Button {
    position: absolute;
    width: 105px;
    height: 60px;
    left: 75%;
    top: 40%;
    border: none;
    /* Primary-Soft */
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    background: #F0EEFF;
    border-radius: 14px;
    color: #6C5DD3;
    cursor: pointer;
}
